" {{ ansible_managed }}

" This line should not be removed as it ensures that various options are
" properly set to work with the Vim-related packages.
runtime! archlinux.vim

colorscheme jellybeans
set background=dark
syntax on

" show extraneous whitespace and line endings
" commented since they may be distracting to interviewees
" set list
" set listchars=eol:$,tab:>-,trail:~,extends:>

" show line numbers
set number

" set indent to 4 spaces and auto-tab on returns
set tabstop=4
set softtabstop=4
set shiftwidth=4
set smarttab
set expandtab

" vertical line at col 80, keep all lines from landing on it (79 char limit)
set colorcolumn=80

if has("autocmd")
    " remember cursor position of files previously edited
    au BufReadPost * if line("'\"") > 1 && line("'\"") <= line("$") | exe "normal! g`\"" | endif
    " use 2 spaces for yaml
    au FileType yaml set shiftwidth=2
endif
